@page
@model Library.Pages.GenrePages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить жанр</h1>

<h3>Вы уверены, что хотите удалить?</h3>
<div>

    <hr />
    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre.IsDeleted)
        </dd>*@
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Genre.Id" />
        <input type="submit" value="Удалить" class="btn btn-outline-danger mt-3" />
        <a asp-page="./Index" class="text-decoration-none btn btn-outline-dark mt-3">Назад</a>
    </form>
</div>
